*{
  margin: 0;
  padding: 0;
}

.fundo{
  background: linear-gradient(180deg,#FEFCF3,#F5EBE0,#F0DBDB,#DBA39A);
  height: 100vh;
  color: #FFABAB;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.calculadora{
  position: absolute;
  background: #ffe5ca6c;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  padding: 10px;
}

.botao{
  width: 50px;
  height: 50px;
  border: none;
  margin: 3px;
  border-radius: 4px;
  background: #ffe5cac0;
  cursor: pointer;
  color: #FA9884;
}

.botao:hover{
  background:#FA9884;
  color: #ffe5cac0;
  transform: 0.5s;
}

.igual{
  height: 105px;
}

.zero{
  width: 105px;
}

#resultado{
  background: #fff;
  width: 200px;
  height: 34px;
  margin: 4px;
  font-size: 28px;
  color: #111;
  padding-left: 14px;
  padding-right: 10px;
  text-align: right;
}